* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333333;
  }
  
  header {
    background-color: #333333;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
  }
  
  .logo {
    display: inline-block;
    margin-top: 10px;
  }
  
  header nav {
    margin-top: 10px;
  }
  
  header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  .section {
    padding: 50px 0;
    text-align: center;
  }
  
  .section-gray {
    background-color: #f0f0f0;
  }
  
  .section-contacto {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
  }
  
  .section-contacto .contacto-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .contacto-info {
    flex: 1;
    padding: 0 20px;
  }
  
  .contacto-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .contacto-info p {
    font-size: 1.2em;
    line-height: 1.8;
  }
  
  .contacto-info:last-child {
    margin-right: 0;
  }
  
  #menu {
    padding: 80px 0;
  }
  
  .section-menu {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .menu-category {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .menu-category h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .menu-category p {
    font-size: 1.1rem;
    flex-grow: 1;
  }
  
  .menu-category img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  #restaurante img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  
  
  @media (max-width: 768px) {
    .section-menu {
      padding: 0 20px;
    }
  }
  