body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    form {
        width: 90%;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
        width: calc(100% - 20px);
    }

    input[type="submit"] {
        font-size: 18px;
    }

    header, footer {
        padding: 15px 0;
    }

    h1, h2 {
        font-size: 24px;
    }
}

#adoption-list ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}
    img {
        width: 90%;
    }

#adoption-list li {
    background-color: #e9f9e9;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

#adoption-list li:nth-child(odd) {
    margin-right: 10px;
}
